@import "tailwindcss";

@theme {
  /* Registrasi Font Utama */
  --font-sans: "Plus Jakarta Sans", sans-serif;

  /* Registrasi Warna Custom Brand */
  --color-brand-50: #f0f7ff;
  --color-brand-100: #e0effe;
  --color-brand-500: #2563eb;
  --color-brand-600: #1d4ed8;
  --color-brand-700: #1e40af;
  --color-brand-900: #1e3a8a;

  /* Registrasi Warna Custom Toy Store */
  --color-toy-pink: #f43f5e;
  --color-toy-amber: #f59e0b;
  --color-toy-emerald: #10b981;
  --color-toy-indigo: #6366f1;
  --color-toy-purple: #8b5cf6;
}
